<header class="bg-white d-flex justify-content-end">
    <div class="card card-header">
    <h2>
        <label for="menu">
            <i class="fa-solid fa-bars-staggered" tooltip="tooltip" title="MENU"></i>
        </label>
    </h2>
    <div class="btn-group mb-2 ms-auto">
        <button type="button" class="btn bg-white dropdown-toggle" data-bs-toggle="dropdown"
        data-bs-display="static" aria-expanded="false">
            <i class="fa-solid fa-user me-2"></i> Victor Lemes
        </button>
        <ul class="dropdown-menu dropdown-menu-lg-end">
            <li>
                <a class="dropdown-item" href="#" tooltip="tooltip" title="Perfil">Perfil</a>
            </li>
            <li>
                <a class="dropdown-item text-danger" href="#" tooltip="tooltip" title="Sair">Sair</a>
            </li>
        </ul>
    </div>
</div>
</header>
